{% extends 'base.html.twig' %}

{% block title %}Producteurs{% endblock %}

{% block body %}
    <h1>Producteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producer in producers %}
            <tr>
                <td>{{ producer.id }}</td>
                <td>{{ producer.title }}</td>
                <td>
                    <a href="{{ path('producer_show', {'id': producer.id}) }}">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('producer_edit', {'id': producer.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('producer_new') }}" class="btn btn-primary">Nouveau producteur</a>
    <br><br>
{% endblock %}
