{% extends 'base.html.twig' %}

{% block title %}Producteur{% endblock %}

{% block body %}
    <h1>Producteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producer.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ producer.title }}</td>
            </tr>
        </tbody>
    </table>

	<a href="{{ path('producer_index') }}" class="btn btn-primary">Retour</a>

	<a href="{{ path('producer_edit', {'id': producer.id}) }}" class="btn btn-primary">Éditer</a>
	<br><br>
    {{ include('producer/_delete_form.html.twig') }}
    <br>
{% endblock %}
