{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<h1>{{ product.title }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ product.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ product.title }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ product.price }}&euro;</td>
			</tr>
			<tr>
				<th>Stock</th>
				<td>{{ product.stock }}</td>
			</tr>
			<tr>
				<th>Photo</th>
				<td><img class="img-show" src="{{ url_images_products ~ product.picture }}" alt="{{ product.title }}"></td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path("cart_add", {id: product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
	<a href="{{ path('home') }}" class="btn btn-primary">Retour</a>
	<br>
{% endblock %}
