
{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <a style="color:white;" href="{{ path("user_index") }}">Membres</a>
    &emsp;
    <a style="color:white;" href="{{ path("product_index") }}">Produits</a>
    &emsp;
    <a style="color:white;" href="{{ path("command_index") }}">Commandes</a>
    &emsp;
    <a style="color:white;" href="{{ path("category_index") }}">Catégories</a>
    &emsp;
    <a style="color:white;" href="{{ path("type_index") }}">Genres</a>
    &emsp;
    <a style="color:white;" href="{{ path("mark_index") }}">Éditeurs</a>
    &emsp;
    <a style="color:white;" href="{{ path("producer_index") }}">Producteurs</a>
    &emsp;
    <a style="color:white;" href="{{ path("promotional_code_index") }}">Codes promotionnels</a>
    &emsp;
    <a style="color:white;" href="{{ path("notice_index") }}">Avis</a>
{% endblock %}
	