{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Note</th>
                <th>Date d'enregistrement</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notice in notices %}
            <tr>
                <td>{{ notice.id }}</td>
                <td>{{ notice.comment }}</td>
                <td>{{ notice.note }}</td>
                <td>{{ notice.registrationDate ? notice.registrationDate|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('notice_show', {'id': notice.id}) }}">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('notice_edit', {'id': notice.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('notice_new') }}" class="btn btn-primary">Nouvel avis</a>
    <br>
{% endblock %}
