{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis pour le produit {{ product.title }}</h1>

    <table class="table">
        <tbody>
            {% for notice in notices %}
                <tr>
                    <th>Utilisateur</th>
                    <td>{{ notice.user.name }}</td>
                </tr>
                <tr>
                    <th>Commentaire</th>
                    <td>{{ notice.comment }}</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>{{ notice.note }}</td>
                </tr>
                <tr>
                    <th>Date d'enregistrement</th>
                    <td>{{ notice.registrationDate ? notice.registrationDate|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

	<a href="{{ path("home_show", {id: product.id}) }}" class="btn btn-primary">Retour</a>
    <br>
{% endblock %}
