<footer class="container-fluid">
    <div class="row mb-0">
        <div class="col bg-dark text-light text-center py-3 w-100">
            . <a href="{{ path('who_we_are') }}">Qui sommes-nous</a>
            . <a href="{{ path('legal_mentions') }}">Mentions légales</a> 
            . <a href="{{ path('gtc') }}">Conditions générales de ventes</a>
            . <a href="{{ path('contact') }}">Contact</a> .
            <br>
            &copy; {{ "now"|date("Y") }} - Mantis - Tous droits réservés
        </div>
    </div>
</footer>