{% extends 'base.html.twig' %}

{% block title %}Éditeur{% endblock %}

{% block body %}
    <h1>Éditeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mark.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ mark.title }}</td>
            </tr>
        </tbody>
    </table>

	<a href="{{ path('mark_index') }}" class="btn btn-primary">Retour</a>

	<a href="{{ path('mark_edit', {'id': mark.id}) }}" class="btn btn-primary">Éditer</a>
	<br><br>
    {{ include('mark/_delete_form.html.twig') }}
    <br>
{% endblock %}
