{% extends 'base.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    <h1>Membre n°{{ user.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>CP</th>
                <td>{{ user.zipCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Tél.</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Email vérifié</th>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Commande&nbsp;Id</th>
				<th>Montant</th>
				<th>Date d'enregistrement</th>
				<th>État</th>
			</tr>
		</thead>
		<tbody>
			{% for command in user.commands %}
				<tr>
					<td>{{ command.id }}</td>
					<td>{{ command.amount }}</td>
					<td>{{ command.registration_date|date('d-m-Y') }}</td>
					<td>{{ command.status }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucune commande pour ce membre</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('user_index') }}" class="btn btn-primary">Retour</a>

	<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Éditer</a>
	<br><br>
    {{ include('user/_delete_form.html.twig') }}
    <br>
{% endblock %}
